<header class="text-gray-600 body-font">
    <div class="bg-gray-100">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href="/"
               class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     stroke="currentColor"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     stroke-width="2"
                     class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                     viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <a href="/" class="ml-3 text-xl">Gaslight</a>
            </a>
            <nav class="text-center md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
                <a href="/request/" class="mr-5 hover:text-gray-900">Submit request</a>
                <a href="/request/view/" class="mr-5 hover:text-gray-900">View requests</a>
            </nav>
            {% if user.is_authenticated %}
                <span class="mr-4">Hello there, {{ request.user.full_name }}</span>
            {% else %}
                <a class="inline-flex items-center bg-indigo-500 border-0 py-1 text-gray-900 px-3 focus:outline-none hover:bg-indigo-900 rounded text-base mt-4 md:mt-0 mr-3"
                    href="/accounts/login">Log in
                    <svg fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="w-4 h-4 ml-1"
                        viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            {% endif %}
            <a class="inline-flex items-center bg-indigo-500 border-0 py-1 text-gray-900 px-3 focus:outline-none hover:bg-indigo-900 rounded text-base mt-4 md:mt-0 mr-3"
                {% if user.is_authenticated %} href="/accounts/logout"> Log out {% else %} href="/accounts/register"> Sign up {% endif %}
                <svg fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 ml-1"
                    viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>
</header>
