{% if messages %}
    <script>
        setTimeout(function() {
            const messages = document.querySelectorAll('.message');
            messages.forEach(function(element) {
                element.style.transition = 'opacity 0.5s'
                element.style.opacity = '0'
                setTimeout(() => {
                    element.style.display = 'none'
                }, 500);
            });
        }, 5000);
    </script>
  <div class="fixed top-5 left-0 w-full flex items-center justify-center">
    {% for message in messages %}
      <div class="{% if 'error' in message.tags %}
          bg-red-500
        {% elif 'success' in message.tags %}
          bg-green-500 message
        {% else %}
          bg-gray-500 message
        {% endif %} text-white px-3 py-2 rounded shadow-md">
        <svg class="flex-shrink-0 inline w-4 h-4 me-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span>{{ message }}</span>
      </div>
    {% endfor %}
  </div>
{% endif %}
